* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cart {
  width: 100%;
}
.cart-container {
  margin: 0;
  width: 100%;
  background-color: white;
  top: 17%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
}

.heading {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}
.table {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  width: 70px;
}
tr {
  margin-bottom: 10px;
}
.cart-row {
  background-color: orange;
}

.cart-row-data {
  height: 20vh;
  align-items: center;
}

.cart-items {
  width: 100%;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 250px;
}

.cart-item-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
}
.cart-item-details {
  font-size: 16px;
}

#remove-button {
  background-color: white;
  color: red;
}
img {
  float: left;
}

#remove-button,
#minus-button,
#plus-button {
  padding: 5px 10px;
}
.cart-item-details {
  margin-bottom: 10px;
}

.image-description {
  flex-wrap: wrap;
}

.total-price {
  /* text-align: center;
  font-size: 1.5rem;
  margin: 20px 0; */
}
.checkout{
  width: 60%;
  /* flex-basis: 10%; */
}
.checkout-table {
  border: red 2px solid;
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  margin-left: auto; /* Move the table to the right */
}

.checkout-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#checkout-button {
  font-size: 16px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 80%;
}

#checkout-button:hover {
  background-color: #45a049;
}


#checkout-button {
  margin-top: 20px;
}
.cart-item-details a {
  text-decoration: none;
}

.my-table > tbody > tr > td > div > img {
  border: 1px solid red;
  height: 75px;
  width: 75px;
}
.my-table > tbody > tr > td {
  border: 1px solid red;
  text-align: center;
  align-items: center;
}
.navbar {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: orange;
}

.navs {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.navs h3 {
  color: hsl(0, 0%, 0%);
  font-weight: 900;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-ul li {
  padding-left: 70px;
}
.navbar ul {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}
