* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
}

.navbar {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: orange;
}

.navs {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.navs h3 {
  color: hsl(0, 0%, 0%);
  font-weight: 900;
}

.nav-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-ul li {
  padding-left: 70px;
}
.navbar ul {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.cart-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: none;
}

.cart-container img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.cart-container h3 {
  font-size: 1.2em;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  flex-grow: inherit;
  height: 400px;
}

.product img {
  width: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 70px;
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}

.product h3 {
  margin: 10px 0;
  font-size: 20px;
}

.product p {
  margin: 5px 0;
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product button {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.product button:hover {
  background-color: #45a049;
}
#cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}

@media only screen and (max-width: 700px) {
  .navs ul {
    display: none;
  }
  
}
